body {
  background-color: black;
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  z-index: 0;
}

.console {
  width: 250px;
  border-right: 5px solid;
  border-color: orange;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: white;
}

.console1 {
  background-image: url(imgs/fallingcoins0.gif);
  width: 250px;
  border-right: 5px solid;
  border-color: orange;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: white;
}

.console2 {
  background-image: url(imgs/fallingcoins1.gif);
  width: 250px;
  border-right: 5px solid;
  border-color: orange;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: white;
}

.console3 {
  background-image: url(imgs/fallingcoins2.gif);
  width: 250px;
  border-right: 5px solid;
  border-color: orange;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: white;
}

.coinDisplay {
  height: 50vh;
  color: white;
  margin-bottom: -75px;
  padding-top: 25px;
}

.coinButton {
  all: unset;
}
.bonusCoin {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

.bonusCoinShow {
  display: block;
  all: unset;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

.inventory {
  display: flex;
  flex: 1;
  overflow: scroll;
  flex-direction: column;
}

.inventory > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-basis: 100%;
}

.inventory > div > img {
  max-height: 95px;
  margin-top: 3px;
}

.shop {
  width: 350px;
  flex-direction: column;
}

.resourceButton {
  display: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgb(39, 39, 39);
  border-left: 5px solid;
  border-color: orange;
  margin: 3px;
}

.resourceButtonVis {
  display: flex;
  opacity: 0.4;
}

.resourceButtonAvailable {
  opacity: 1;
}

.resourceButton > img {
  max-height: 95px;
}

.buytext {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.buytext > span {
  flex-basis: 100%;
}

.buytext > img {
  all: unset;
  height: 25px;
  width: 25px;
  padding: 4px;
}
.circle {
  width: 50px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 50%;
  background: rgb(39, 39, 39);
  border-color: orange;
  box-shadow: 0px 0px 0px 5px orange;
  margin-right: 15px;
}

.achievement {
  display: none;
  height: 100px;
  width: 350px;
  position: absolute;
  padding: 20px;
  background-color: dodgerblue;
  color: white;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.achievementShow {
  display: block;
  height: 50px;
  width: 250px;
  position: absolute;
  padding: 20px;
  background-color: dodgerblue;
  color: white;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
